<h1>All Movies</h1>

<%= form_tag movies_path, method: :get do %>
  Include:
  <%= hidden_field_tag 'sort', @sort %>
  <% @all_ratings.each do |rating| %>
    <%= rating %>
    <%= check_box_tag "ratings[#{rating}]", '1', @ratings.include?(rating) %>
  <% end %>
  <%= submit_tag 'Refresh', class: 'btn'%>
<% end %>

<table id='movies'>
  <thead>
    <tr>
      <th>
        <%= sortable 'title', 'Movie Title' %>
      </th>
      <th>Rating</th>
      <th>
        <%= sortable 'release_date', 'Release Date' %>
      </th>
      <th>User</th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td class="<%= movie.published? ? '' : 'pending' %>"><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td class="<%= highlingt_if_movie(movie) %>"><%= movie.user.email %></td>
        <td><%= link_to "More about #{movie.title}", movie_path(movie) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<% if current_user %>
  <%= link_to 'Add new movie', new_movie_path, class: 'btn' %>
  <br/>
  <br/>
<% end %>
