<h1>Welcome!</h1>
<hr>
<%= link_to "See all movies", movies_path %>

<%= render 'movies/movie', movie: @sample_movie %>

<hr>
<div class="1st_carousel">
  <div id='mycarousel' class='carousel slide'>
    <div class='carousel-inner'>
      <div class="item active">
        <%= image_tag '1.jpg' %>
        <div class='container'>
          <div class='carousel-caption'>
            <h1>Move List</h1>
            <p class='lead'>
              List of the best films on our site. And also reviews movies and reviews
            </p>
            <a class='btn btn-large btn-primary' href='#'>Read more</a>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag '2.jpg' %>
        <div class='container'>
          <div class='carousel-caption'>
            <h1>Anime List</h1>
            <p class='lead'>
              List of the best anime on our site. And also reviews movies and reviews
            </p>
            <a class='btn btn-large btn-primary' href='#'>Learn more</a>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag '3.jpg' %>
        <div class='container'>
          <div class='carousel-caption'>
            <h1>Gallery List</h1>
            <p class='lead'>
              Сan see photos of celebrities, and photographs on the set of films or the anime
            </p>
            <a class='btn btn-large btn-primary' href='#'>Browse gallery</a>
          </div>
        </div>
      </div>  
    </div>
    <a class="carousel-control left" href="#mycarousel" data-slide="prev"><</a>
    <a class="carousel-control right" href="#mycarousel" data-slide="next">></a>
  </div> 
</div>

<div class='container marketing'>
  <div class='row'>
    <div class='span4'>
      <h2>Opening This Week</h2>
      <p>
        The most popular movies this week.
      </p>
      <p><%= link_to 'View details', '#', class: 'btn' %></p>
    </div>
    <div class='span4'>
      <h2>Box Office</h2>
      <p>
        The best films of the weekend charges.
      </p>
      <p><%= link_to 'View details', '#', class: 'btn' %></p>
    </div>
    <div class='span4'>
      <h2>Coming Soon</h2>
      <p>
        The most anticipated movies this month.
      </p>
      <p><%= link_to 'View details', '#', class: 'btn' %></p>
    </div>
  </div>
</div>

<div class="header_wrapper">
  <div class="header_wrapper_inside">
    <div id="user_menu_u" class="user_menu">
      <a id="user_menu_trigger" class="menu_user_tools dropdown" data-toggle="dropdown">
        <i class="fa fa-bars"></i>
      </a>
      <div class="submit_action">Submit Property</div>
    </div>
    <div id="user_menu_open" class="dropdown-menu" style="display: block;">
      <div class="login_sidebar">
        <h3 id="login-div-title-topbar" class="widget-title-sidebar">Login</h3>
        <div id="login-div_topbar" class="login_form">
          <div id="login_message_area_topbar" class="loginalert"> </div>
          <input id="login_user_topbar" class="form-control" type="text" placeholder="Username" name="log">
          <input id="login_pwd_topbar" class="form-control" type="password" placeholder="Password" name="pwd">
          <input id="loginpop_wd_topbar" type="hidden" value="0" name="loginpop">
          <input id="security-login-topbar" type="hidden" value="13d1e494d0" name="security-login-topbar">
          <input type="hidden" value="/" name="_wp_http_referer">
          <button id="wp-login-but-topbar" class="wpb_button wpb_btn-info wpb_btn-large">Login</button>
          <div class="login-links">
            <a id="widget_register_topbar" href="#">Need an account? Register here!</a>
            <div id="facebookloginsidebar_topbar" data-social="facebook"></div>
            <div id="googleloginsidebar_topbar" data-social="google"></div>
            <div id="yahoologinsidebar_topbar" data-social="yahoo"></div>
          </div>
        </div>
        <h3 id="register-div-title-topbar" class="widget-title-sidebar">Register</h3>
        <div id="register-div-topbar" class="login_form">
          <div id="register_message_area_topbar" class="loginalert"></div>
          <input id="user_login_register_topbar" class="form-control" type="text" placeholder="Username" name="user_login_register">
          <input id="user_email_register_topbar" class="form-control" type="text" placeholder="Email" name="user_email_register">
          <p id="reg_passmail_topbar">A password will be e-mailed to you</p>
          <input id="security-register-topbar" type="hidden" value="3cee9a82f3" name="security-register-topbar">
          <input type="hidden" value="/" name="_wp_http_referer">
          <button id="wp-submit-register_topbar" class="wpb_button wpb_btn-info wpb_btn-large">Register</button>
          <div class="login-links">
            <a id="widget_login_topbar" href="#">Back to Login</a>
          </div>
        </div>
      </div>
    </div>
    <nav id="access" role="navigation">
      <div class="menu-main-menu-container">
    </nav>
    </div>
  </div>
</div>

<footer>
  <div class="footer-inner">
    <ul class="delist social-links">
      <li class="social-twitter">
        <a target="new" rel="nofollow" href="https://twitter.com/intent/user?screen_name=glasgowgrill">
          <span>Twitter</span>
        </a>
      </li>
      <li class="social-facebook">
        <a target="new" rel="nofollow" href="https://www.facebook.com/thegrillonthecorner.glasgow">
          <span>Facebook</span>
        </a>
      </li>
    </ul>
    <nav>
      <ul class="delist">
      </ul>
    </nav>
  </div>
</footer>