<h1>Welcome!</h1>
<hr>
<%= link_to "See all movies", movies_path %>

<%= render 'movies/movie', movie: @sample_movie %>

<hr>

<div class='container marketing'>
  <div class='row'>
    <div class='span4'>
      <h2>asd as asd asd asd asd asd</h2>
      <p>sad asd asd asd asd asd asd asdas das
        asd asd asdas dsadas d
        asd sad asdasdasdasd sad asdasdasdasd
        sa dasdas dasdasdasd
        asdasd
      </p>
      <p><%= link_to 'Link', '#', class: 'btn' %></p>
    </div>
    <div class='span4'>
      <h2>asd as asd asd asd asd asd</h2>
      <p>sad asd asd asd asd asd asd asdas das
        asd asd asdas dsadas d
        asd sad asdasdasdasd sad asdasdasdasd
        sa dasdas dasdasdasd
        asdasd
      </p>
      <p><%= link_to 'Link', '#', class: 'btn' %></p>
    </div>
    <div class='span4'>
      <h2>asd as asd asd asd asd asd</h2>
      <p>sad asd asd asd asd asd asd asdas das
        asd asd asdas dsadas d
        asd sad asdasdasdasd sad asdasdasdasd
        sa dasdas dasdasdasd
        asdasd
      </p>
      <p><%= link_to 'Link', '#', class: 'btn' %></p>
    </div>
  </div>
</div>