<h1>Welcome!</h1>
<hr>
<%= link_to "See all movies", movies_path %>

<%= render 'movies/movie', movie: @sample_movie %>

<hr>

<%= render 'welcome/carousel' %>

<div class='container marketing'>
  <div class='row'>
    <div class='span4'>
      <h2>Opening This Week</h2>
      <p>
        The most popular movies this week.
      </p>
      <p><%= link_to 'View details', '#', class: 'btn' %></p>
    </div>
    <div class='span4'>
      <h2>Box Office</h2>
      <p>
        The best films of the weekend charges.
      </p>
      <p><%= link_to 'View details', '#', class: 'btn' %></p>
    </div>
    <div class='span4'>
      <h2>Coming Soon</h2>
      <p>
        The most anticipated movies this month.
      </p>
      <p><%= link_to 'View details', '#', class: 'btn' %></p>
    </div>
  </div>
</div>

<%= render 'welcome/footer' %>
